.places {
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.places h1 {
    margin-bottom: 0;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.places_articles {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}

article h2 {
    font-size: 30px;
    text-align: center;
}
